/*Algunos de nuestros temas*/
.temas {
    display: flex;
    flex-direction: column;
    padding: 4.4rem 0 4.4rem 0;

    // h2 {

    // }

    .temas-container {
        padding: 2rem 12rem 0 12rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .temas-illustration-container {

            .temas-illustration {
                text-align: center;

                h3 {
                    margin-top: 7%;
                    // font-family: ;
                    font-size: 24px;
                    color: $primaryTextColor;
                    letter-spacing: 0;
                    text-align: center;
                }

            }
        }
    }
}
/*Algunos de nuestros temas end*/