/*Variables*/

//colors
@import "colors";

//fonts
@import "textFonts";

/*Variables end*/


/*Generals*/
* {
    overflow-x: hidden;
    body {
        box-sizing: border-box;
        height: 100%;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        button {
            border: none;
        }
        li {
            list-style: none;
        }
    }
}

.title {
    color: $primaryTextColor;
    font-size: 48px;
    text-align: left;
    margin-bottom: 0.5em;
    padding-left: 13.9%;
}

h2 {
    // font-family: ;
    font-size: 48px;
    color: $primaryTextColor;
    letter-spacing: 0;
}


    /*Header*/
    @import '_header';
    /*header end*/

    /*main*/
    main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        /*Episodes*/
        @import "episodes";

        /*De donde venimos*/
        @import "deDondeVenimos";

        /*Invitados*/
        @import "invitados";

        /*Algunos de nuestros temas*/
        @import "temas";
        
        /*Quieres las ultimas novedades*/
        @import "ultimasNovedades";
        
    }
    /*main end*/
    
    /*Footer*/
    @import "footer";
    /*Footer end*/





