/*Quieres las ultimas novedades*/
.ultimas-novedades {
    text-align: center;
    background-color: azul;

    h2 {
        color: $secundaryTextColor;
    }

    .ultimas-novedades-button {
        margin-top: 3rem;
        width: 21.5rem;
        height: 3.5rem;
        font-size: 18px;
        color: $primaryTextColor;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        background-color: $backGruondButtonColor;
        border: 0px;
    }
}
/*Quieres las ultimas novedades end*/