/*Variables*/
/*Variables end*/
/*Generals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  color: #060A24;
  font-size: 48px;
  text-align: left;
  margin-bottom: 0.5em;
  padding-left: 13.9%;
}

h2 {
  font-size: 48px;
  color: #060A24;
  letter-spacing: 0;
}

/*Body*/
body {
  height: auto;
  /*Header*/
  /*Header*/
  /*header end*/
  /*header end*/
  /*main*/
  /*main end*/
}

body header {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav {
  height: 17%;
  width: 100%;
  padding: 26px 3.6% 0 0;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav .logo-header {
  margin-left: 6.9%;
}

body header nav .principal-nav {
  width: 50%;
  text-align: right;
}

body header nav .principal-nav a {
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 3.3%;
  text-decoration: none;
}

body header nav .principal-nav a:hover {
  text-decoration: underline;
}

body header .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

body header .text-header h1, body header .text-header p {
  width: 100%;
  height: 70px;
  text-align: left;
  padding-left: 13.9%;
  font-size: 64px;
  color: #060A24;
  letter-spacing: 0;
}

body header .text-header p {
  height: 25px;
  font-size: 1em;
  line-height: 24px;
}

body header .text-header .container-button {
  margin: 8% 0 0.5% 13.9%;
}

body header .text-header .container-button .header-button {
  height: 56px;
  width: 226px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background-color: #00F3BB;
  border: 0px;
}

body main {
  width: 100%;
  height: 1042px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Episodes*/
  /*Episodes*/
  /*Episodes end*/
  /*De donde venimos*/
  /*De donde venimos*/
  /*De donde venimos end*/
  /*Invitados*/
  /*Invitados*/
  /*Invitados end*/
  /*Algunos de nuestros temas*/
  /*Algunos de nuestros temas*/
  /*Algunos de nuestros temas end*/
  /*Quieres las ultimas novedades*/
  /*Quieres las ultimas novedades*/
  /*Quieres las ultimas novedades end*/
}

body main .episodes {
  height: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/Imagenes/blue-background.png);
  background-repeat: no-repeat;
}

body main .episodes h2 {
  padding-top: 10%;
}

body main .episodes .container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 600px 200px;
      grid-template-rows: 600px 200px;
}

body main .episodes .container .episode-galery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-column-gap: 4.3%;
          column-gap: 4.3%;
}

body main .episodes .container .episode-galery .episode-image {
  width: 584px;
  height: 232px;
}

body main .episodes .container .episode-galery .episode-image:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

body main .episodes .container .episode-galery .episode-image:nth-child(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .episodes .container .episode-galery .episode-image:nth-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

body main .episodes .container .episode-galery .episode-image:nth-child(4) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

body main .de-donde-venimos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body main .de-donde-venimos .imagen-de-donde-venimos {
  width: 457.6px;
  height: 660px;
  margin: -185px 0 0 180px;
}

body main .de-donde-venimos .cont-texto-de-donde-venimos {
  padding: 2em 12em 0 4em;
}

body main .de-donde-venimos .cont-texto-de-donde-venimos p {
  font-size: 1em;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.5em;
}

body main .invitados {
  padding-top: 4.4rem;
}

body main .invitados .invitados-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .invitados .invitados-container .invitados-galery {
  padding-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

body main .invitados .invitados-container .invitados-galery .invitados-image {
  width: 100%;
  height: 22.75rem;
}

body main .invitados .invitados-container .invitados-galery .invitados-image img {
  width: 100%;
  height: 22.75rem;
}

body main .temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.4rem 0 4.4rem 0;
}

body main .temas .temas-container {
  padding: 2rem 11rem 0 11rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

body main .temas .temas-container .temas-illustration-container .temas-illustration {
  text-align: center;
}

body main .ultimas-novedades {
  text-align: center;
  background-color: azul;
}

body main .ultimas-novedades h2 {
  color: #ffffff;
}

body main .ultimas-novedades .ultimas-novedades-button {
  margin-top: 3rem;
  width: 21.5rem;
  height: 3.5rem;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background-color: #00F3BB;
  border: 0px;
}

/*Body end*/
/*# sourceMappingURL=style.css.map */