/*Quieres las ultimas novedades*/
.ultimas-novedades {
    width: 100%;
    height: 30rem;
    text-align: center;
    background-image: url(/Imagenes/fondo-novedades.jpg);

    h2 {
        padding-top: 12%;
        color: $secundaryTextColor;
    }

    .ultimas-novedades-button {
        margin-top: 3rem;
        width: 21.5rem;
        height: 3.5rem;
        font-size: 18px;
        color: $primaryTextColor;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        background-color: $backGruondButtonColor;
        border: 0px;
    }
}
/*Quieres las ultimas novedades end*/

@media screen and (max-width: 600px) {
    .ultimas-novedades {
        width: 100%;
        text-align: center;
        background-image: url(/Imagenes/fondo-novedades.jpg);
    
        h2 {
            width: 80%;
            padding-top: 10rem;
            color: $secundaryTextColor;
            font-size: 36px;
            font-weight: 300;
            line-height: 42px;
            overflow: hidden;
            margin-left: 2rem;

        }
    
        .ultimas-novedades-button {
            margin-top: 3rem;
            width: 288px;
            height: 48px;
            font-size: 16px;
            color: $primaryTextColor;
            font-weight: 600;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            background-color: $backGruondButtonColor;
            border: 0px;
        }
    }
}