/*Episodes*/
.episodes {
    height: 1101px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(/Imagenes/fondo-episodios.jpg);
    // background: no-repeat;
    overflow: hidden;

    h2 {
    //     height: 200px;
        padding-top: 12%;
        color: $secundaryTextColor;
    //     // text-align: end;
    //     // padding-top: ;
    }

    .container {
        // height: 800%;
        width: 100%;
        display: grid;
        grid-template-rows: 600px 200px;
        // gap: 10px;

        .episode-galery {
            width: 100%;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto auto;
            column-gap: 4.3%;

            .episode-image {
                width: 584px;
                height: 232px;
            }

            .episode-image:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 3;
            }

            .episode-image:nth-child(2) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 4;
                align-items: flex-end;
            }

            .episode-image:nth-child(3) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
            }

            .episode-image:nth-child(4) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }
    }
}
/*Episodes end*/
