/*Footer*/
footer {
    width: 100%;

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;


        h4 {
            width: 50%;
            margin: 1% 0 0 5%;
            font-family: $secundaryTextColor;
            font-size: 1.5rem;
            color: $primaryTextColor;
            letter-spacing: 0;
            line-height: 1.7rem;
        }

        .social-icons {
            margin: 1% 5% 0 0%;
            width: 50%;
            display: flex;
            justify-content: flex-end;

            .img-social-icons {
                margin: 3.5% 3.5% 3.5% 3.5%;
                width: 18px;
            }
        }
    }
}
/*Footer end*/

@media screen and (max-width: 600px) {
    footer {
        width: 100%;

        .footer-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h4 {
                width: 50%;
                margin: 6% 0 2% 0;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 22px
            }

            .social-icons {
                margin: 0% 12% 10% 0%;
                width: 80%;
                display: flex;

                .img-social-icons {
                    margin: 5%;
                    width: 18px;
                }
            }
        }
    }
}